<h3>View Bikes Owned by a Cyclist</h3>

  <p><h4>Choose a cyclist to view:</h4></p>

  <TABLE BORDER="5">
    <TH>ID</TH>
    <TH>User Name</TH>
    <TH>First Name</TH>
    <TH>Last Name</TH>

    <% Cyclist.all.each do |item| %>

      <TR>
        <TD><%= "#{item.id}" %>.</TD>
        <TD><a href='/cyclists_and_bikes/<%= "#{item.user_name}" %>'><%= "#{item.user_name}" %>.</a></TD>
        <TD><%= "#{item.first_name}" %></TD>
        <TD><%= "#{item.last_name}" %></TD>
      </TR>

    <% end %>

  </TABLE>
