<h3>View Ride <%= @new_ride.id %></h3>

  <b>Cyclist ID:</b> <%= @new_ride.cyclist_id %>
  <b>Bike ID:</b> <%= @new_ride.bike_id %>
  <b>Ride Name:</b> <%= @new_ride.ride_name %>
  <b>Distance (miles):</b> <%= @new_ride.miles %>
  <b>Timestamp:</b> <%= @new_ride.period %>
