<h3>Edit Bikes</h3>

  <p><h4>Choose a bike to edit:</h4></p>

  <TABLE BORDER="5">
    <TH>ID</TH>
    <TH>Cyclist ID</TH>
    <TH>Bike Name</TH>
    <TH>Description</TH>

    <% Bike.all.each do |item| %>

      <TR>
        <TD><a href='/edit_bike_form/<%= "#{item.id}" %>'><%= "#{item.id}" %>.</a></TD>
        <TD><%= "#{item.cyclist_id}" %></TD>
        <TD><%= "#{item.bike_name}" %></TD>
        <TD><%= "#{item.description}" %></TD>
      </TR>

    <% end %>

  </TABLE>
